$primaryColor : #466dbb;
$inputHeight: 3rem;

.login_heading {
    height: 10vh;
    display: flex;
    align-items: flex-end;
    padding-left: 3rem;

    width: 100%;

    & .login_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;

    }

    & img {
        width: 8rem;
    }

    & span {
        color: #3156a0;
        font-size: 1.7rem;
        font-weight: 650;
        margin-left: .5rem;
    }
}


.container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 83vh;

    & > div {
        width: 50%
    }

    & .form_container {
        padding-left: 4rem;
    }
    & .login_image_container {
        display: flex;
        align-items: center;
    }

    & .login_image {
        width: 95%;

    }

}

.form_title {
    margin-bottom: 2rem;
    & h2 {
        color: $primaryColor;
        font-size: 2rem;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 1rem;
        font-family: "Avenir-Next-B";
    }

    & span {
        font-size: .6rem;
        color: #545F7D;
        font-weight: 400;
        font-size: 1rem;
        font-family: "Avenir-Next-R";

    }
}

.form {

    & input {
        width: 80%;
        height:  $inputHeight;
        border: 2px solid rgba(84, 95, 125, 0.15);
        border-radius: 5px;
        margin-bottom: 2rem;
        text-indent: 1rem;
        font-family: "Avenir-Next-R";
    };


    & a  {
        color: #39CDCC;
        letter-spacing: 0.1em;
        font-weight: 600;
        font-size: 12px;
        display: block;
        text-decoration: none;
        font-family: "Avenir-Next-R";
    }

    & button {
        background: #39CDCC;
        border-radius: 8px;
        border: none;
        width: 80%;
        height: 2.5rem;
        margin-top: 2rem;
        color: white;
        font-weight: 600;
        cursor: pointer;
        font-family: "Avenir-Next-R";
        letter-spacing: 1.5px;
    }

    & .wrapper {
        position: relative;
        width: 80%;
        height: $inputHeight;
        margin-bottom: 1.4rem;

        & input {
            width: 100%;
            height: 100%;
            margin-bottom: 1.5rem;
            font-family: "Avenir-Next-R";
        }

        & span {
            position: absolute;
            right: 4%;
            top: 50%;
            transform: translateY(-50%);
            color: #39CDCC;
            font-size: .7rem;
            font-weight: 700;
            font-family: "Avenir-Next-R";
            cursor: pointer;
        }

    }
}

@media screen and (max-width: 900px) {
    .login_heading {
        padding-top: 1rem;
        padding-left: 0rem;
        align-items: center;
        justify-content: center;

        .login_logo {
            height: 100%;
            margin: 0;
    
        }
    
        & img {
            width: 8rem;
        }
    }
    .container {
        flex-direction: column;
        width: 100%;
        overflow-y: scroll;

        & > div {
            width: 100%;
        }

        & .form_container {
            padding-left: 0rem;
            width: 90%;
        }

        & .login_image_container {
            justify-content: center;
            margin:1.5rem  0;
            // height: 40%;
        }

        & .login_image {
            width: 100%;
        }
    }
    .form_title {
        text-align: center;
        & h2 {
            margin-bottom: .3rem;
            font-size: 1.8rem;
        }
        & span {
            font-size: .95rem;
        }
    }
    .form {
        
        & input {
            width: 100%;
        }
    
        & .wrapper {
            width: 100%;
        }
    
        & button {
            width: 100%;
            font-weight: bold;
            height: 2.7rem;
        }
    }
}
