.user_report {
    display: grid;
    grid-template-columns: 15% 15% 20% 17% 20% 13%;
    height: 4.2rem;
    align-items: center;
    position: relative;
    width: 98.5%;
    background-color: #fff;
    border-bottom: 0.8px solid rgba(33, 63, 125, 0.1);

    &:last-of-type {
        border-bottom: 0.8px solid #fff;
        
    }
    
    & p {
        font-size: .8rem;
        word-wrap: break-word;
        color: #545f7dda;

        &.tel , &.lender_name {
            padding-left: .75rem;
            padding-right: .15rem;
        }

        &.org {
            padding-left: .2rem;
        }

    };

    & .user_status {
        display: flex;
        justify-content: space-between;
        padding:  0 1rem 0 0;

        & .status {
            padding: .5rem .8rem;   
            text-transform: capitalize;
            border-radius: 100px;
            position: relative;
            right: 8%;


            &.active {
                color: #39CD62;
                background-color: rgb(57, 205, 98, 0.06);
            }

            &.blacklisted {
                color: #E4033B;
                background-color: rgb(228, 3, 59, 0.1);
            }

            &.inactive {
                color: #545F7D;
                background-color: rgb(84, 95, 125, 0.06);
            }
            &.pending {
                color: #E9B200;
                background-color: rgb(233, 178, 0, 0.1);
            }
        }

        & img {
            cursor: pointer;
        }

    }
}

@media screen and (max-width: 1000px) {
    .user_report {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;

        & .user_status {
            & .status {
                position: relative;
                right: 0%;
            }
        }

        & p {

            &.email, &.date {
                display: none;
            }
            
        }
    }
}

@media screen and (max-width: 900px) {
    .user_report {
        grid-template-columns: repeat(2, 1fr) .9fr;

        & p {

            &.email, &.tel, &.date {
                display: none;
            }
        }   
    }
}