.user_report {
    display: grid;
    grid-template-columns: 15% 15% 20% 17% 20% 13%;
    height: 4.2rem;
    align-items: center;
    position: relative;
    width: 98.5%;
    background-color: #fff;
    border-bottom: 0.8px solid rgba(33, 63, 125, 0.1);

    &:nth-child(11) {
        border-bottom: 0.8px solid #fff;
        
    }
    
    & p {
        font-size: .8rem;
        word-wrap: break-word;
        color: #545f7dda ;

        &.tel , &.lender_name {
            padding-left: .75rem;
            padding-right: .15rem;
        }

        &.org {
            padding-left: .2rem;
        }

    };

    & .user_status {
        display: flex;
        justify-content: space-between;
        padding:  0 1rem 0 0;

        & .active {
            color: #39CD62;
        }

        & img {
            cursor: pointer;
        }

    }
}

