.input_label {
    height: 2.1rem;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;


}

.selector_input {
    height: 2.5rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(33, 63, 125, 0.2);
    text-indent: .9rem;
    padding-right: 1rem;
    
    &[type="date"] {
        text-indent: .4rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
  
            /* Use a custom image as the calendar icon */
            &::-webkit-calendar-picker-indicator {
                background-image: url("../../../public/svg/calendar.svg");
                background-repeat: no-repeat;
                background-size: contain;
            }
  
        
    }
}