.reports {
    width: 100%;
    margin: 3rem 0 0 0;
    border-radius: 8px;
    padding: 1.9rem 1rem 1rem 1.8rem;
    position: relative;
    background-color: #fff;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.103);


}

.reports_title {
    display: grid;
    grid-template-columns: 15% 15% 20% 17% 20% 13%;
    margin-bottom: .5rem;
    width: 98.5%;


    position: relative;
    height: 3rem;
    align-items: center;

    & .report_filter p {
        font-size: .9rem;
        color: #545F7D;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    & img {
        width: .75rem;
        margin-left: .3rem;                   
    }
    & .report_filter {
        display: flex;
    }
}

