.reports {
    width: 100%;
    margin: 3rem 0 0 0;
    border-radius: 8px;
    padding: 1.9rem 1rem 1rem 1.8rem;
    position: relative;
    background-color: #fff;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.103);
}

.reports_title {
    display: grid;
    grid-template-columns: 15% 15% 20% 17% 20% 13%;
    margin-bottom: .5rem;
    width: 98.5%;
    position: relative;
    height: 3rem;
    align-items: center;


    & .report_filter p {
        font-size: .9rem;
        color: #545F7D;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    & img {
        width: .75rem;
        margin-left: .3rem;         
        cursor: pointer;          
    }
    & .report_filter {
        display: flex;


    }
}

.reports_container {
    padding: 0rem 2rem 0;
    width: 100%;
}

@media screen and (max-width: 1000px)  {
    .reports_container {
        overflow-x: scroll;
        overflow-y: hidden;
        position: relative;
    }
    .reports {
        min-width: 32rem;
        margin: 2rem 0 4rem;
    }
    .reports_title {
        width: 100%;
        grid-template-columns: repeat(3, .9fr) .9fr;


        & .report_filter {
            &.email, &.date {
                display: none;
            }

            &.username {
                padding-left: 1rem;
            }
            
        }

        & img  {
            width: .85rem;
        }
    }

}


@media screen and (max-width: 900px)  {
    .reports_title {
        grid-template-columns: repeat(3, 1fr);

        & .report_filter {
            &.phone {
                display: none;
            }
            &.status {
                padding-left: .8rem;
            }
        }
    }
}
