.menu_options {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    text-decoration: none;
    color: #213F7D;

    & .list {
        display: block;
        margin-left: .5rem;
    }

    & h4 {
        font-weight: 550;
    }
    
    & .icon {
        margin-right: .6rem;
    }
}