.page_title{
    color: #545f7ddf;
    font-weight: 500;
}

.analytics_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr)); //as the screen size decreases the size of the box until it reaches 10rem
    column-gap: 1.5rem;
    grid-row: auto;
    justify-content: center;
    grid-auto-rows: auto;
    row-gap: 4rem;
    margin-top: 3rem;
    width: 100%;
    
};

.user_options {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1.5rem;

    & .show_users {
        display: flex;
        justify-content: space-between;
        border: 1px solid red;
        align-items: center;

        & select {
            margin: 0 1rem;
            width: 4rem;
        }
    }

    & .more_users {
        display: flex;
        align-items: center;
        width: 13rem;
        justify-content: space-between;

        & button {
            width: 1.8rem;
            height: 1.8rem;
            display: grid;
            place-items: center;
            border: none;
            color: #21407d70;
            background-color: rgba(84, 95, 125, 0.137);
            cursor: pointer;
            border-radius: .2rem;

            &:hover {
                background-color: rgba(84, 95, 125, 0.082);
            }
            &:active {
                background-color: rgba(84, 95, 125, 0.397);
            }
            & img {
                width: .4rem;
            }
        }
    }
}

