.dash_board {
    display: grid;
    grid-template-columns: .2fr .8fr;
    grid-template-rows: 11vh 89vh;
    
}

.out_let {  
    background-color: #e5e5e51f;
    padding: 2rem 2rem 0 ;


    overflow-y: scroll;
}

.dash_board_cover {
    position:fixed;
    top: 0;
    left: 0;
    height: 110vh;
    width: 100%;
    background-color: red;
    z-index: 2;

}