.dash_board {
    display: grid;
    grid-template-columns: .2fr .8fr;
    grid-template-rows: 11vh 89vh;
    
}

.out_let {  
    background-color: #e5e5e51f;
    padding: 2rem 2rem 0 ;


    overflow-y: scroll;
}
