.userpage_link {
    display: flex;
    align-items: center;
    text-decoration: none;

    & img {
        width: 2.5rem;
    }

    & p {
        margin-left: .7rem;
        font-size: 1rem;
    }
}

.page_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8rem;
    background-color: #fff;


    & h1 {
        font-size: 1.6rem;
        font-weight: 600 ;
    }

    & button {
        width: 10rem;
        height: 2.7rem;
        border-radius: 8px;
        background-color: #fff;
        font-weight: 600;

        &.blacklist_btn {
            color: #E4033B;
            border: 1px solid #E4033B;

        }

        &.activate_btn {
            color: #39CDCC;
            border: 1px solid #39CDCC;
            margin-left: 1.5rem;

        }
    }

}


.user_details {
    margin-top: 2rem;
    padding: 2.3rem 2rem .7rem 2rem;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.103);
    border-radius: 8px;
    background-color: #fff;
    $value: 7.5rem;
    
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.06);


    & .user_profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        width: 67%;
        min-width: 33rem;


        

        & .user_img {
            display: grid;
            place-items: center;
            margin-right: .5rem;

            & img {
                width: $value;
                height: $value;
                border-radius: 50%;
                object-position: 10% bottom;
            }
       }

        & .user_id {
            width: calc($value + 1rem);

                & h3 {
                    color: #545f7df6;
                    font-weight: 620;
                    margin-bottom: .2rem;
                }

                & span {
                    font-size: .75rem;
                    opacity: .8;
                }
        }

        & .user_tier{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-left: 2px solid rgba(65, 25, 25, 0.047);
            border-right: 2px solid rgba(65, 25, 25, 0.047);
            width: 7.5rem;
            height: 4rem;
            
            & p {
                margin-bottom: .3rem;
                font-weight: 600;
                color: #545f7dbc;
                font-size: .85rem;

            }

    

            & .star {
                width: .9rem;

                &.middle {
                    margin: 0 .27rem;
                }

            }
            // margin: 0rem 1.5rem;
            
        }


        & .user_finance {
            margin-left: 2rem;
            & h4 {
                color: #545f7d;
                font-size: 1.2rem;
                font-family: "WorkSans";
                margin-bottom: .3rem;
            }

            & p {
                font-size: .75rem;
                color: #545f7db2;
                font-weight: 700;
                font-family: "WorkSans";

            }

        }

    }

    & .profile_sections {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 10%;



        & h3 {
            position: relative;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.674);
            font-weight: 500;
            
            &.active::after {
                content:  "";
                position: absolute;
                left: 0;
                bottom: -.7rem;
                width: 100%;
                height: .2rem;
                background-color: #39CDCC;
                border-radius: .2rem ;
            }

        }
    }

    
}


.user_info {
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 0 2rem;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;

    & > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); //as the screen size decreases the size of the box  increases until it reaches 10rem
        column-gap: 1.5rem;
        grid-row: auto; 
        justify-content: center;
        grid-auto-rows: auto;
        row-gap: 2rem;
        padding: 0rem .5rem 2rem;
        border-bottom: 1px solid rgba(33, 64, 125, 0.189);

        &:last-child {
            border-bottom: none;
        }

        
        & h3 {
            font-family: "WorkSans";
            grid-column: 1/-1;
            margin-top: 2rem;
            color: #545f7dbc;
            font-size: 1.3rem;
            font-weight: 600;
        }

        & .info {

            & .top{
                color: #3d4559a8;
                text-transform: uppercase;
                font-size: .75rem;
                font-weight: 600;
                margin-bottom: .55rem;
                font-family: "WorkSans";
            }

            & .bottom {
                font-family: "WorkSans";
                font-weight: 600;
                color: #545F7D;


            }
        }

    }

}