* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: "WorkSans";
    src: url(./assets/static/WorkSans-Regular.ttf);
}

@font-face {
    font-family: "Avenir-Next-B";
    src: url(./assets/avenir-next/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: "Avenir-Next-R";
    src: url(./assets/avenir-next/AvenirNextLTPro-Regular.otf);
}